/*********** Mainpage CSS ***********/

header {
    width: 100%;
    /* position: fixed; */
    z-index: 8;
    position: sticky;
    top: -35px;
}

header img {
    margin-top: -8px;
    margin-left: -8px;
    object-fit: fill;
}

body {
    font-family: "Montserrat", sans-serif;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 10px;
}

.image-signature {
    font-size: 12px;
    font-style: italic;
}

#app h3 {
    grid-column: 1 / span 3;
}

input[type="submit"]:hover {
    box-shadow: 0 0px 6px 0 #d48e82;
}

.border {
    grid-column: 1 / span 3;
    background-color: rgb(230, 230, 230);
    height: 2px;
    width: 950px;
    margin-bottom: 20px;
}

#app__upload-form {
    border: solid rgb(230, 230, 230) 1px;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    min-height: 70px;
    width: 950px;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#app__upload-form input {
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    border: solid rgb(230, 230, 230) 1px;
    padding: 5px;
}

#app__image-board {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.app__image-board--image-box {
    width: 300px;
    height: 390px;
    padding: 5px;
}

.app__image-board--image-box img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
    z-index: 7;
}

.app__image-board--image-box img:hover {
    cursor: pointer;
    /* filter: brightness(60%); */
}

/*********** Popup CSS ***********/
#popup-template__outer-box {
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-template__inner-box {
    background: white;
    z-index: 10;
    height: 430px;
    width: 950px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inner-box__img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}

#inner-box__content {
    height: 400px;
    width: 500px;
    /* border: solid; */
    position: relative;
}

#inner-box__content--img-info {
    margin-top: -10px;
    /* vertical-align: top; */
    /* border: solid; */
    margin-bottom: 22px;
    line-height: 80%;
}

#inner-box__content--comment-box {
    border-top: solid rgb(230, 230, 230) 2px;
    border-bottom: solid rgb(230, 230, 230) 2px;
    height: 245px;
    overflow: auto;
}

#inner-box__content--comments {
    line-height: 40%;
    padding-bottom: 10px;
}

#inner-box__content--comments .image-signature {
    color: rgb(139, 139, 139);
}

#inner-box__content--comment-form {
    /* border: solid; */
    position: absolute;
    bottom: 0px;
}

#inner-box__content--comment-form input {
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    border: solid rgb(230, 230, 230) 1px;
    padding: 5px;
}

input[name="comment"] {
    width: 285px;
}
